@import "tailwindcss";

@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        --color-primary: colors.indigo;
        --color-secondary: colors.gray;
        --font-nunito: 'Nunito', sans-serif;
    }
}
